---
import Layout from './Layout.astro';

export interface Props {
  title: string;
  unitId?: string;
}

const { title, unitId } = Astro.props;

// Import all lodge images
const allImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/luxehauslodge/*.{jpeg,jpg,png,gif}');
const imageEntries = Object.entries(allImages);
const images: ImageMetadata[] = [];
for (const [, resolver] of imageEntries) {
  const mod = await resolver();
  images.push(mod.default);
}
---

<Layout title={`${title} - Hocking Luxury Lodges`}>
  <div class="container">
    <slot />
  </div>

  <div class="container">
    <div class="row">
      <h3>{title} Gallery</h3>
    </div>
    <!-- Carousel wrapper -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-config={'{"interval": 4000, "pause": false}'}>
      <!-- Slides -->
      <div class="carousel-inner mb-5">
        {images.map((img, i) => (
          <div class={`carousel-item ${i === 0 ? 'active' : ''}`}>
            <img src={img.src} class="d-block w-100" alt={title} />
          </div>
        ))}
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle-y" style="height: 50px; width: 50px;"
        type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next top-50 position-absolute end-0 translate-middle-y"
        style="height: 50px; width: 50px;" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <!-- Thumbnails -->
      <div class="carousel-indicators" style="margin-bottom: -20px;">
        {images.map((img, i) => (
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to={i}
            class={i === 0 ? 'active' : 'img-fluid'}
            aria-current="true" aria-label={`Slide ${i + 1}`} style="width: 100px;">
            <img class="d-block w-100" src={img.src} alt={title} />
          </button>
        ))}
      </div>
    </div>
  </div>
</Layout>
